{% load crispy_forms_tags %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DB Test Results Exporter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="container py-4">

    <h1>DB Test Results Exporter</h1>

    <pre>Server: {{ server }}
Database: {{ database }}
Login: {{ login }}
Password: {{ password }}</pre>

    <form method="{{ method|default:"post" }}">
        {% csrf_token %}
        {{ form|crispy }}

        <a class="btn btn-secondary" href="{% url "export" %}">Cancel</a>
        <button type="submit" class="btn btn-primary">Export</button>

    </form>

</div>
</body>
</html>